<header>
  <nav>
      <a href="https://andybrewer.github.io/mvp/"><img alt="MVP.css" src="./img/logo.png" height="70"></a>
      <ul>
          <li><a href="/">About</a></li>
          <li><a href="/intro">Get started</a></li>
          <li><a href="/docs">DOCS</a></li>
          <li><a href="/faq">FAQ</a></li>
      </ul>
  </nav>
  <h1>A <u>supper fast</u> torrent client for low end devices</h1>
  <p><b>No class names, no frameworks,</b> just <em>semantic</em> HTML and <mark>you're done</mark>.</p>
  <br>
  <p><a download="mvp.html" href="./mvp.html" target="_blank"><i>Download HTML &nearr;</i></a><a
          download="mvp.css" href="./mvp.css" target="_blank"><b>Download MVP.css (8kb) &nearr;</b></a></p>
  <br><br>
  <p><sup>PRO TIP</sup> Add this code to a new HTML
      file:<br><br><code>&lt;link rel="stylesheet" href="https://unpkg.com/mvp.css"&gt;</code></p>
</header>
